@media (max-width: 375px) {
    body {
        background: url(../images/bg-mobile.svg) center center no-repeat;
        background-color: hsl(257, 40%, 49%);
    }

    .header {
        margin: 30px;
        margin-bottom: 0;
    }

    .header .logo img {
        width: 140px;
        height: 50px;
    }

    .main {
        flex-wrap: wrap;
    }

    .main {
        margin: 30px;
    }

    .main .imagem img {
        width: 100%;
    }

    .main .sobre {
        margin: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 310px;
    }

    .main .sobre h1 {
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .main .sobre p {
        margin-bottom: 25px;
        text-align: center;
    }

    .footer .social {
        justify-content: center;
        margin: 0;
    }

    .footer .social i {
        font-size: 0.8rem;
        width: 20px;
        height: 10px;
        margin: 4px;
        padding: 0px;
    }
}